doctype html
html
	head
		include ../common/head.pug
		link(rel='stylesheet', href='/css/blog-list.css')
	body
		include ../common/navbar.pug
		main.container.common-main
			div.row
				div.col
				div.col-lg-8
						if loggedIn == true
							div.mb-3
								a.btn.btn-primary(href=`/editor/create`) Create new blog
						- if(currentPage === -1)
								p No blogs posted yet!
						- else 
								include list-table.pug
				div.col
		include ../common/footer.pug