doctype html
html
	head
		include ../common/head.pug
		link(rel='stylesheet', href='/css/blog-list.css')
	body
		div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
			include ../common/navbar.pug
			main.mdl-layout__content.common-main
				div.mdl-grid.common-grid
					div.mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
					- if(currentPage === -1)
						div.mdl-cell.mdl-cell--8-col.mdl-cell--4-col-phone.mdl-shadow--4dp.common-content
							p No blogs posted yet!
					- else 
						div.mdl-cell.mdl-cell--8-col.mdl-cell--4-col-phone.common-content
							include list-table.pug