extends common/layout
block content
	div.bg-light.p-5.rounded.common-blocks
		h4 About this site
		p 
		| For the longest time I didn't consider making a personal website, but a
		| friend inspired me to make one. On top of that, with some experience 
		| working with Node.js based side project, I thought I could leverage
		| those skills to make this website.
		p
		| This website was created with the following:
		ul 
			li It runs on a Node.js + Express backend
			li Pug handles rendering the front end, using 
				a(href="https://getbootstrap.com/") Bootstrap
				|  to theme it
			li 
				| MongoDB stores and retrieve the articles , so I  don't have 
				| to create a new page every time I want to create an article.
		p The source code for this website can be found on 
			a(href="https://www.github.com/sho-kikugawa/personal-website") my GitHub
	div.bg-light.p-5.rounded.common-blocks
		h4 Legal stuff
		p All the orignal content I've authored is available under the 
			a(href="https://creativecommons.org/licenses/by/4.0/") CC BY 4.0 license
		p 
		| Feel free to use the content for your own work, though I only ask that 
		| you provide an acknolwedgement in the page of said work. 
		| Thanks! :)