extends common/layout
block content
	div.bg-light.p-5.rounded
		h3 Hello world!
		p 
		| I'm Sho Kikugawa, software developer by trade, technology enthusiast at
		| heart. If it processes bits, I'm interested in it.

		p
		| Outside of technology, I love writing. It's a way to get my thoughts out
		| in a manner that I can control. This website is meant to show case my 
		| writings, though the subject matter is mostly technical.

		br
		br
		p 
			strong Stuff I've done
		ul 
			li 
				a(href="https://www.github.com/sho-kikugawa" target="_blank") Git Hub repo
			li 
				a(href="https://www.pcgamer.com/author/sho-kikugawa/" target="_blank") Articles written for Maximum PC (now PC Gamer)
			li An assortment of articles on this website

		p
			strong Stuff I want to learn more about
		ul 
			li Swift, Rust, and functional languages 
			li Web app development and technologies
			li Some kind of game development with a widely used game engine 