extends common/layout
block content
	div.mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
	div.mdl-cell.mdl-cell--8-col.mdl-color--white.mdl-shadow--4dp.mdl-color-text--grey-800.common-content
		h1 Hello world!
		img(src="/img/89173195.jpeg", alt="A cat!")
		p 
		| I'm Sho Kikugawa, software developer by trade, technology enthusiast at
		| heart. If it processes bits, I'm interested in it.

		p
		| Outside of technology, I love writing. It's a way to get my thoughts out
		| in a manner that I can control. This website is meant to show case my 
		| writings, though the subject matter is mostly technical.

		br
		br
		p 
			strong Stuff I've done
		ul 
			li Git Hub repo: 
			li Articles written for Maximum PC (now PC Gamer)
			li An assortment of articles on this website

		p
			strong Stuff I want to learn more about
		ul 
			li Swift, Rust, and functional languages 
			li Web app development and technologies
			li Some kind of game development with a widely used game engine 