extends ../common/layout
block content
	div.mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
	div.mdl-cell.mdl-cell--8-col
		div.mdl-color--white.mdl-shadow--4dp.mdl-color-text--grey-800.common-content
			form(action="create", method="post")
				label.common-label(style="width: 100px;") Title
				input.common-input(type="text", name="blogTitle", placeholder="Enter a title")
				br
				label.common-label(style="width: 100px;") Summary 
				input.common-input(type="text", name="blogSubtitle", placeholder="Enter a summary")
				br
				label Content (Markdown)
				br
				textarea(name="blogContent", style="width: 100%; margin-bottom: 20px;", rows="24") 
				br
				button Submit