extends ../common/layout
block content
	div.mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
	div.mdl-cell.mdl-cell--8-col
		div.mdl-color--white.mdl-shadow--4dp.mdl-color-text--grey-800.common-content
			form(action="login", method="post")
				label.common-label(style="width: 100px;") Username
				input.common-input(type="text", name="editorUsername", placeholder="Enter a title")
				br
				label.common-label(style="width: 100px;") Password
				input.common-input(type="text", name="editorPassword", placeholder="Enter a summary")
				br
				button Login