extends ../common/layout
block content
	div.bg-light.p-5.rounded
		form(action="login", method="post")
			div.mb-3
				label.form-label Username
				input.form-control(type="text", name="editorUsername")
			div.mb-3
				label.form-label Password
				input.form-control(type="password", name="editorPassword")
			button.btn.btn-primary Login