
extends ../common/layout
block content
	div.bg-light.p-5.rounded
		- if(newArticle === true) 
			form(action="/editor/create", method="post")
				include ./editor-body.pug
		- else 
			form(action=`/editor/edit/${blogData.internalTitle}`, method="post")
				include ./editor-body.pug