meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
//- Stylesheets
link(rel='stylesheet', href='/css/material.blue_grey-blue.min.css')
link(rel='stylesheet', href='/css/common.css')

//- Scripts
script(src="/js/material.min.js")