doctype html
html
	head
		include ./head.pug
	body
		include ./navbar.pug
		main.container.common-main
			div.row
				div.col
				div.col-lg-8
					block content
				div.col
		footer.py-3.my-4
			p.text-center.text-muted(style="font-size: 0.75em;") &copy; #{new Date().getFullYear()} Sho Kikugawa