doctype html
html
	head
		include ./head.pug
	body
		div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
			include ./navbar.pug
			main.mdl-layout__content.common-main
				div.mdl-grid.common-grid
					block content
