a.site-nav.mdl-navigation__link.mdl-typography--text-uppercase(href="/") Home
a.site-nav.mdl-navigation__link.mdl-typography--text-uppercase(href="/blogs") Blogs
a.site-nav.mdl-navigation__link.mdl-typography--text-uppercase(href="/about") About