.table thead > tr > th {
	border-bottom: 2px solid black;
}

td:nth-child(1) {
	width: 25%;
}

td:nth-child(2) {
	width: 50%;
}

.blog-list-nav {
	border-top: 2px solid var(--bs-gray-500);
	padding-top: 20px;
}

.blog-list-entry-box {
	border-top: 2px solid var(--bs-gray-500);
	padding: 10px 5px 10px 5px;
}

.blog-list-title {
	color: var(--bs-body-color);
	text-decoration: none;
	transition: 200ms;
}

.blog-list-title:hover {
	color: var(--bs-primary);
	transition: 200ms;
}

.blog-list-summary {
	color: var(--bs-gray-700);
}

.blog-list-rtbtn {
	float: right;
}