.common-main {
	width: 100%;
}

.common-grid {
	max-width: 1440px;
	width: calc(100% - 16px);
	margin: 0 auto;
}

.common-content {
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 4vh;

	text-align: justify;
}

.common-label {
	display: inline-block;
	margin-right: 20px;
}

.common-input {
	margin-bottom: 20px;
}

.site-nav:hover {
	background: rgba(0, 0, 0, 0.25);
}

.navbar-button {
	background: none; 
	border: none; 
	cursor: pointer;
}

.navbar-button:hover {
	background: rgba(0, 0, 0, 0.25);
}

.picture-card {
	min-height: 240px;
	background: url('/img/89173195.jpeg') center / cover;
}