time {
	font-size: 0.75em;
}

img {
	max-width:100%;
	max-height:100%;
}

footer > p {
	font-size: 0.75em;
}

.common-main {
	margin-top: 5em;
}

.common-blocks {
	margin-bottom: 2em;
}

.blog-title {
	text-align: center;
}

.blog-container {
	text-align: justify;
}

.error-container {
	max-width: 1440px; 
	overflow: auto;
}
